name: Test
on:
- pull_request

jobs:
  test:
    strategy:
      matrix:
        go:
        - '1.17.x'
        - '1.18.x'
        - '1.19.x'
        - '1.20.x'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Go ${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Download Dependencies
      run: go mod download

    - name: Run Tests
      run: |
        go vet ./...
        go test -race -v ./...
